/* Variables for the project declared here */
:root{
  --heading-font-family:'Libre Bodoni', serif;
  --default-font-family:'Source Sans Pro', sans-serif;
  --accent-color: #FE7228;
  --white-color:#ffffff;
  --light-bg: rgba(234,234,234,0.8);
  --dark-color:#2A2627;
}
/* HTML elements styling */
body {
  margin: 0;
  padding: 0;
  font-family: var(--default-font-family) !important;
} 
a {
  text-decoration: none!important;
  color: #2A2627!important;
}
h1 {
  font-family: var(--heading-font-family) !important;
  font-size: 70px!important;
}
h2 {
  font-family: var(--heading-font-family);
  color: var(--accent-color);
}
h4 {
  font-size: 60px!important;
  font-family: var(--heading-font-family);
  font-weight: 100!important;
}

/* Side bar navigation styling */
.active{
  color: var(--accent-color) !important;
}
.logo {
  max-height: 30px;
}
.menu-icon{
  font-size: 30px;
  position: fixed;
  top: 10px;
  right: 10px;
  color: var(--accent-color)
}
.contact-menu-icon{
  font-size: 30px;
  position: fixed;
  top: 10px;
  left: 10px;
  color: var(--accent-color)
}
.contact-cover-hero i {
  color:var(--accent-color);
  cursor: pointer;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right:0;
  background-color:var(--dark-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 160px;
  text-align: center;
  display: block!important;
  margin: 0 auto!important;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--white-color)!important;
  display: block;
  transition: 0.3s;
  font-family: var(--heading-font-family);
  font-size: 36px;
}
.sidenav a:hover {
  color: var(--accent-color)!important;
}
#active-link {
  color: var(--accent-color)!important;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Normal bar navigation styling */
.container-fluid {
  padding: 0!important;
  overflow-x: hidden !important;
}
.topnav {
  overflow: hidden;
  background-color: #eaeaea;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 100;
  left: 0;
  right: 0;
  padding: 5px 40px;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: var(--heading-font-family);
}
.topnav a:hover {
  background-color: #ddd;
  color: var(--accent-color);
}
.topnav a b{
  color: var(--accent-color)!important;
}
.topnav .icon {
  display: none;
}
footer ul {
  display: inline-flex;
}
footer a:hover{
  color: var(--accent-color)!important;
}
footer i {
  font-size: 22px;
}
/* Navbar media queries */

  @media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  }


@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Home page  cover Styling */
.loading-cover {
  background: url(images/cover.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; /* For 100% screen height */
  width:  50vw;
}
.cover-logo-fit {
  display: block;
  margin: 0 auto;
  width: 50%;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.fit-image{
  width: 100%;
  object-fit: cover;
  height: 65%; /* only if you want fixed height */
}
.cover-project-img{
  width: 250px;
  display: block;
  margin: 0 auto;
}
.hero{
  text-align: center;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
}
.hero p{
  font-size: 36px;
  font-family: var(--default-font-family)!important;
}
.hero h1{
  font-size: 96px;
  font-family: var(--heading-font-family)!important;
}
.hero h3{
  font-size: 24px;
  font-family: var(--default-font-family)!important;
  color: #2A2627;
  font-weight: lighter;
}
/*Contact page cover Styling*/
.contact-cover {
  background: url(images/contactCover.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; /* For 100% screen height */
  width:  50vw;
}
.contact-cover-hero h3{
  white-space: nowrap;
}
/* About page cover Styling */
.wrapper-about {
  display: flex;
  flex-direction: row;
  width: 200vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left; 
}
/* Buttons styling */
.button-hero{
  padding: 12px 24px!important;
  border-radius: 10px!important;
  color:var(--white-color)!important;
  border: #Ffffff 1px solid!important;
  background-color: var(--accent-color)!important;
  transition: all 100ms ease-in;
}
.button-hero:hover{
  background-color: var(--white-color)!important;
  color: var(--accent-color)!important;
  border: 2px solid var(--accent-color)!important;
}
.button-project{
  padding: 12px 24px!important;
  border-radius: 10px!important;
  color:var(--accent-color) !important;
  border: 1px solid var(--accent-color)!important;
  transition: all 100ms ease-in;
}
.button-project:hover{
  color:var(--white-color) !important;
  border: 2px solid var(--white-color)!important;
  background-color: var(--accent-color)!important;
}
/* General content cards */
.white-card{
  background-color: var(--white-color);
  padding: 4px;
  margin: 10px 10px;
}
.white-card-container{
  max-width: 98% !important;
  background-color: var(--white-color);
  padding: 4px;
  margin: 10px 10px;
}
.media-scroller::-webkit-scrollbar {
  width: 5px;
}
.media-scroller::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-radius: 100px;
}
.media-scroller::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
    border-radius: 100px;
    background-color:var(--accent-color);
}
.media-scroller{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 23%;
  padding: 0 60px 0 0;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.media-scroller-with-groups{
  grid-auto-columns: 100%;
}
.media-group {
  display: grid;
  gap: 30px;
  grid-auto-flow: column;
}
.snaps-inline {
  scroll-snap-type:inline mandatory;
}
.container-image {
  position: relative;  
  width:100%;
}
.container-image:before {
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  top:0;left:0;right:0;
  background-color:rgba(0,0,0,0);
}
.container-image:hover::before {
  background-color:rgba(0,0,0,0.2);
}
.container-image img {
  display:block;
}
.container-image button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity:0;
  background-color:rgba(255,255,255,1);
  border:5px solid var(--accent-color);
  color: var(--accent-color)!important;
} 
.container-image:hover button {   
  opacity: 1;
}
.draw-border {
  box-shadow: inset 0 0 0 4px #2A2627;
  color: #2A2627;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #FE7228;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #FE7228;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn-draw {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem var(--heading-font-family);
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}
.btn-draw:focus {
  outline: 2px dotted var(--accent-color);
}
.contact-loading-text{
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 1400px){
  .hero h1{
    font-size: 60px;
    font-family: var(--heading-font-family);
    color: var(--dark-color);
    font-weight: bold;
    }
  h2{
    font-family: var(--heading-font-family);
    color: var(--accent-color)!important;
  }
  .loading-text{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .contact-cover-hero h4{
    font-size: 50px!important;
  }
}
@media(max-width: 992px){
  h1{
    font-size: 48px!important;
    text-align: center;
  }
  h2{
    font-family: var(--heading-font-family);
    color: var(--accent-color) !important;
  }
  .contact-cover-hero h4{
    font-size: 40px!important;
  }
  .white-card{
    display: grid;
  }
  .element{
    align-items: center;
    justify-content: center;
    max-width: fit-content;
  }
  .project-elements{
    padding: 0;
    text-align: center;
  }
  .project-image{
    margin: 0 auto!important;
    display: block!important;
    max-width: 70% !important;
  }
  .topnav{
    position: static;
  }
}

@media (max-width: 576px){
  footer{
    text-align: center!important;
  }
  .small-hero-align{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cover-hero{
    text-align: center;
    background: url(images/cover.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; /* For 100% screen height */
    width:  100vw;
  }
  .contact-cover-hero{
    text-align: center;
    background: url(images/contactCover.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; /* For 100% screen height */
    width:  100vw;
  }
  .hero h1{
    font-size: 34px;
    font-family: var(--heading-font-family);
    color: var(--dark-color);
    font-weight: bold;
    }
  .hero h2{
    font-size: 16px;
    font-family: var(--default-font-family);
    font-weight: bold;
    color: var(--dark-color);
    opacity: 0.8;
    line-height: 1.5;
  }
  .logo-img{
    width: 250px;
    display: block;
    margin: 0 auto;
  }
  .hero .wr{
    background-color: var(--light-bg);
    padding: 25px 18px;
    align-items: center;
  }
  .slide-two{
    align-items: center;
  }
  h1{
    font-size: 24px!important;
  }
  h2{
    font-size: medium;
  }
  .button-central-link{
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  .contact-cover-hero h4{
    font-size: 30px!important;
  }
  .contact-cover-hero h3{
    font-weight: 500!important;
  } 
}