:root{
  --heading-font-family:'Libre Bodoni', serif;
  --default-font-family:'Source Sans Pro', sans-serif;
  --accent-color: #FE7228;
  --white-color:#ffffff;
  --light-bg: rgba(234,234,234,0.8);
  --dark-color:#2A2627;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--default-font-family) !important;
    overflow: auto;
  }
a{
  text-decoration: none;
}

  .loading-cover{
    background: url(images/cover.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; /* For 100% screen height */
    width:  50vw;
  }
  .cover-logo-fit{
    display: block;
    margin: 0 auto;
    width: 50%;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
   
  }
  .wrapper-about {
    display: flex;
    flex-direction: row;
    width: 200vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
   
  }
h1{
    font-family: var(--heading-font-family) !important;
}
.fit-image{
  width: 100%;
  object-fit: cover;
  height: 65%; /* only if you want fixed height */
}
.cover-project-img{
  width: 250px;
  display: block;
  margin: 0 auto;
}
.hero{
  text-align: center;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
}
.hero p{
  font-size: 36px;
  font-family: var(--default-font-family)!important;
}
.hero h1{
  font-size: 96px;
  font-family: var(--heading-font-family)!important;
}
.hero h3{
  font-size: 24px;
  font-family: var(--default-font-family)!important;
  color: #2A2627;
  font-weight: lighter;
}
.button-hero{
  padding: 12px 24px!important;
  border-radius: 10px!important;
  color:var(--white-color)!important;
  border: #Ffffff 1px solid!important;
  background-color: var(--accent-color)!important;
}
.button-project{
  padding: 12px 24px!important;
  border-radius: 10px!important;
  color:var(--accent-color) !important;
  border: 1px solid var(--accent-color)!important;
}
.white-card{
  background-color: var(--white-color);
  padding: 4px;
  margin: 10px 10px;
}
.white-card-container{
  max-width: 98% !important;
  background-color: var(--white-color);
  padding: 4px;
  margin: 10px 10px;
}
.media-scroller::-webkit-scrollbar {
  width: 5px;
}
.media-scroller::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-radius: 100px;
}
.media-scroller::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
    border-radius: 100px;
    background-color:var(--accent-color);
    /* background-clip: content-box; */
}


.media-scroller{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 23%;
  padding: 0 60px 0 0;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.media-scroller-with-groups{
  grid-auto-columns: 100%;
  /* border: 2px solid hotpink; */
}
.media-group{
display: grid;
/* border: 2px solid green; */
gap: 30px;
grid-auto-flow: column;
}
.snaps-inline{
scroll-snap-type:inline mandatory;
}
h2{
  font-family: var(--heading-font-family);
  color: var(--accent-color);
}

.container-image {
  position: relative;  
  width:100%;
  /* max-width:100px; */
}
.container-image:before {
content:"";
position:absolute;
width:100%;
height:100%;
top:0;left:0;right:0;
background-color:rgba(0,0,0,0);
}
.container-image:hover::before {
background-color:rgba(0,0,0,0.2);
}
.container-image img {
display:block;
}
.container-image button {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
opacity:0;
background-color:rgba(255,255,255,1);
border:5px solid #FE7228;
color: #FE7228!important;
} 
.container-image:hover button {   
opacity: 1;
}
.draw-border {
  box-shadow: inset 0 0 0 4px #2A2627;
  color: #2A2627;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #FE7228;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #FE7228;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn-draw {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}
.btn-draw:focus {
  outline: 2px dotted #55d7dc;
}


@media (max-width: 1400px){
.loading-text{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1{
  font-size: 60px;
  font-family: var(--heading-font-family);
  color: var(--dark-color);
  font-weight: bold;
  }
  h2{
    font-family: var(--heading-font-family);
    color: var(--accent-color)!important;
  }
}
@media(max-width: 992px){
  h1{
    text-align: center;
  }
  h2{
    font-family: var(--heading-font-family);
    color: var(--accent-color) !important;
  }
  .white-card{
    display: grid;
  }
  .element{
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    border: 2px solid #FE7228;
  }
  
  .project-elements{
    padding: 0;
    text-align: center;
  }
  .project-image{
    margin: 0 auto!important;
    display: block!important;
    max-width: 70% !important;
  }
}

@media (max-width: 576px){
  .small-hero-align{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cover-hero{
    text-align: center;
    background: url(images/cover.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; /* For 100% screen height */
    width:  100vw;
  }
  .hero h1{
    font-size: 34px;
    font-family: var(--heading-font-family);
    color: var(--dark-color);
    font-weight: bold;
    }
  .hero h2{
    font-size: 16px;
    font-family: var(--default-font-family);
    font-weight: bold;
    color: var(--dark-color);
    opacity: 0.8;
    line-height: 1.5;
  }
  .logo-img{
    width: 250px;
    display: block;
    margin: 0 auto;
  }
  .hero .wr{
    background-color: var(--light-bg);
    padding: 25px 18px;
    align-items: center;
  }
  .slide-two{
    align-items: center;
  }
  h2{
    font-size: medium;
  }
  .button-central-link{
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  
}